/* Add CSS Styling */
* {
    font-family: verdana, sans-serif, "Dejavu-sans";
}

.pink {
    font-size: 18px;
    background-color: rgb(228, 173, 182);
}
#num2 {
    color: blue;
    font-size: 36px;
}
.increased {
    font-size: 24px;
}
#num4 {
    background-color: rgb(70, 227, 70);
    font-weight: bold;
}